.Rproj.user
.Rhistory
.RData
*.Rproj
vignettes/cache/*
vignettes/figure/*
vignettes/ALERTDocumentation-concordance.tex
vignettes/ALERTDocumentation.tex
vignettes/ALERTDocumentation.toc
vignettes/ALERTDocumentation.log
vignettes/ALERTDocumentation.synctex.gz
*.DS_Store